@media  (max-width:425px){
    header .width-max div:first-of-type {
        justify-content: center;
        margin-bottom: 20px;
     }
    header .width-max  {
        display:flex;
        flex-direction: column;
    }
    header .width-max div:first-of-type {
        justify-content: center;   
    }
    header .width-max .logo{
        margin-right: 0px;
    }
    header .width-max div {
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    header .width-max div:last-of-type p, header .width-max div:last-of-type div  a  {
        font-size: 19px;
    }
    header .width-max div:last-of-type div  a{
        color: #4b12a8;
        scale: none;
        transition: none;
    }
    main{
        background-color:#d6d6d5;
        background-image:none;
    } 
    main .width-max{
        width: 90%;
    }
    main .width-max div{
        width: 100%;

    }
    main .width-max div p{
        margin:20px 0px
    }
    footer .width-max {
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width:426px)
and     (max-width:768px){
    header .width-max div:first-of-type {
        justify-content: center;
        margin-bottom: 20px;
     }
    header .width-max  {
        display:flex;
        flex-direction: column;
    }
    header .width-max .logo{
        margin-right: 0px;
    }
    header .width-max div {
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    header .width-max div:last-of-type p, header .width-max div:last-of-type div  a  {
        font-size: 19px;
    }
    header .width-max div:last-of-type div  a{
        color: #4b12a8;
        scale: none;
        transition: none;
    }
    main{
        background-color:#d6d6d5;
        background-image:none;
    } 
    main .width-max{
        width: 90%;
    }
    main .width-max div{
        width: 90%;
    }
    footer .width-max {
        flex-wrap: wrap;
    }
}

header .width-max div:last-of-type div  a{
    text-align: center;
    }
    .width-max{
        width: 90%;
    }