*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    padding: 20px 0;
    background: linear-gradient(to bottom, #2c2c2c, #8e8e8e, #fff, #8e8e8e, #2c2c2c);
}
header h1{
    font-family: 'ubuntu', sans-serif;
    font-size: 40px;
    
}
header .width-max{
    display: flex;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
header .width-max div {
    display: flex;
    
}
header .width-max div:last-of-type{
    display: flex;
    flex-direction:column;
    
      
}
header .width-max div:last-of-type div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
header .width-max div:last-of-type p{
    line-height: 25px;
    font-size: 15px; 
}
header .logo{
    width: 30px;
    height: 33px;
    margin-right: 3px;
    animation: 2s infinite alternate-reverse rotacao;
}
header .icones{
    width:25px;
    margin-bottom: -5px;
    margin-right: 4px;
}
header a,header p{
    text-decoration: none; transform: uppercase;
    color:#4d4c4c;
    padding: 4px 10px; 
    font-weight: 600;  
}
header a{
    transition:1s;
    scale: 1.0;
}
header a:hover{
    box-shadow: 3px 5px 5px 2px #4b12a8;
    border: none;
    border-radius: 5px;
    transition: 3s;
    scale: 1.04;
}
header .width-max div:last-of-type a:hover{
    background-color: #fff;
}
header .home:hover{
    box-shadow: none;
}
@keyframes rotacao{
    0%{transform: rotate(50deg);

    }
    100%{transform: rotate(-50deg);

    }
}
main{
    background-color: #fbf7dd;
    background-image: url('../img/texturas/photos_2023_7_2_fst_wrinkled-page.jpg');
    background-position: center;
    background-size: contain;
     height:100vh;
     padding: 30px 0;
 }
 main .width-max div{
    padding: 50px 0;
    width: 80%;
    margin:0 auto
    
 }
main .width-max div p:first-of-type {
  text-align: center;
  font-size: 30px;
  color: #4d4c4c;
  font-weight: bold;
  font-family: 'ubuntu', sans-serif;

} 
main .width-max div p{
    color: #4d4c4c;
    margin: 20px 100px 0px;
    text-align: justify;
    font-size: 18px;
    font-family: 'roboto condensed', sans-serif;
    
}
main .width-max div p span{
    color: #4b12a8;
    font-weight: bold;
}
main .width-max div .voltar{
    text-decoration: none;
    font-size: 20px;
    color: #4b12a8;
    border: 1px solid  #4b12a8 ;
    padding: 2px 50px ;
    border-radius: 20px;
    
}
main .width-max div div{
   display: flex;
   justify-content: center;
}
main .width-max div .voltar:hover{
    background-color: #4b12a8;
    color: #fff;
}
 .width-max{
     max-width: 1024px;
     margin: 0 auto;
     
 }
 



footer{
    background: linear-gradient(to bottom, #2c2c2c, #4b12a8, #5d15d1, #4b12a8, #2c2c2c);
    color: #fff;
    
   
}
footer .width-max {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding:20px;
}
footer h3{
    font-size: 25px;
    margin: 25px 0 10px;
    font-family: 'ubuntu', sans-serif;
    font-weight: 600;
}
footer  a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 3px 5px;
}
footer .width-max a:hover{
    background-color: #fff;
    color: #5d15d1;
    padding: 3px 5px;
    border-radius: 5px;
}
footer .width-max img{
    width: 25px;
    height: 25px;
    margin:0px 8px 5px 0 ;
}
footer .width-max div div{
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}

.direitos{
    max-width: 1024px;
    margin: 0 auto;
    text-align: center;
    border-top: 1px solid #4b12a8;
    padding: 5px 0;
   padding-bottom: 20px;
}
.direitos p{
    font-size: 16px;
}
.direitos img{
    width: 28px;
    margin: 0px 0px -10px 3px;
    border-radius: 50%;
}
.direitos img:hover{
    box-shadow: 0 0 10px 2px yellow;
}
.direitos span{
    font-weight: bolder;
    font-size: 18px;
}
footer  .width-max h3{
    color: #fff;
    padding-bottom: 10px;
}
p, label{
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    

}
a, option{
    font-family: 'Roboto Condensed', sans-serif; 
}
